<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        function seleccionarGenero(genero) {
            window.location.href = '/generos?selectedGenre=' + encodeURIComponent(genero);
        }
    </script>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container mt-4">
        <h1><%= title %></h1>
        <div class="row">
            <!-- Lista de géneros -->
            <div class="col-md-3">
                <h4>Géneros</h4>
                <ul class="list-group">
                    <% generos.forEach(function(genero) { %>
                        <li class="list-group-item <%= genero.descripcion === selectedGenre ? 'active' : '' %>"
                            onclick="seleccionarGenero('<%= genero.descripcion %>')">
                            <%= genero.descripcion %>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <!-- Series por género -->
            <div class="col-md-9">
                <% if (selectedGenre) { %>
                    <h4>Series en el género: <%= selectedGenre %></h4>
                    <ul class="list-group">
                        <% series.forEach(function(serie) { %>
                            <li class="list-group-item">
                                <h5><%= serie.nombre %></h5>
                                <p><%= serie.descripcion %></p>
                                <p>Rating: <%= serie.rating %></p>
                                <img src="http://localhost:3000<%= serie.imagen %>" alt="<%= serie.nombre %>" style="width: 100px;">
                            </li>
                        <% }); %>
                    </ul>
                <% } else { %>
                    <p>Selecciona un género para ver las series.</p>
                <% } %>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
